[submodule "/Users/shawndefede/Repos/ansible-workstation/roles.galaxy/ansible-terraform"]
	path = /Users/shawndefede/Repos/ansible-workstation/roles.galaxy/ansible-terraform
	url = git://github.com/andrewrothstein/ansible-terraform.git
