[submodule "roles.galaxy/andrewrothstein.terraform"]
	path = roles.galaxy/andrewrothstein.terraform
	url = git://github.com/andrewrothstein/ansible-terraform.git
[submodule "roles.galaxy/andrewrothstein.unarchive-deps"]
	path = roles.galaxy/andrewrothstein.unarchive-deps
	url = git://github.com/andrewrothstein/ansible-unarchive-deps.git
